@font-face {
  font-family: 'glass';
  src: url(fonts/glass.ttf);
}

body {
  background: url(img/mars_ground.jpg)no-repeat center;
  background-color: #000;
}

h1 {
  font-family: 'glass', sans-serif;
  color: #975542;
  font-size: 72px;
  text-align: center;
  margin-top: 50px;
}
